body {
  background-color: teal;
  color: white;
  text-align: center;
  min-width: 700px;
  max-width: 700px;
  margin: auto;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4.3em;
  font-weight: lighter;
  text-align: center;
}

.title {
  letter-spacing: 2px;
}

.heart {
  font-size: 1em;
  display: inline-block;
  float: left;
  margin-left: 8px;
}

.clock {
  display: inline-block;
  float: right;
  margin-right: 8px;
}

ul {
  list-style-type: none;
  margin: 3px;
}

ul li{
  display: inline-block;
}

input {
  width: 100px;
  height: 100px;
  display: none;
}

.card {
  width: 100px;
  height: 100px;
  background: cadetblue;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  display: block;
  transition: background 1s,
  -webkit-transform 1s;
}

input:checked +.card {
  background: teal;
  -webkit-transform: rotateY(180deg);
}

input:checked +.card .flip {
  opacity: 1;
  transition-delay: 0.5s;
}

.flip {
  opacity: 0;
  margin-top: 35px;
}
